.woocommerce-billing-fields,
.woocommerce-additional-fields {
    display: none !important;
}
.woocommerce-booking-details-wrapper {
    padding: 10px 20px;
    background: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 10px;
}
.woocommerce-booking-details-wrapper p {
    margin-bottom: 10px;
    color: #999;
}
.woocommerce-page.woocommerce-checkout form #order_review td .variation dt {
    display: block;
    float: none;
}
.woocommerce-page.woocommerce-checkout form #order_review td .variation dd p {
    display: block;
    margin: 10px 0px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
}
.bookly-custom-field-row[data-id="pickupaddress"],
.bookly-custom-field-row[data-id="deliveryaddress"],
.bookly-custom-field-row[data-id="pickuplocation"],
.bookly-custom-field-row[data-id="deliverylocation"],
.bookly-custom-field-row[data-id="distance"],
.bookly-custom-field-row[data-id="estimatedtime"],
.bookly-custom-field-row[data-id="googlemaplink"] {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    z-index: -1;
    visibility: hidden;
}
#connectpx_booking_tbs ul, #connectpx_booking_tbs ol {
    margin-left: 0px;
}
#connectpx_booking_tbs .nav-tabs .nav-link.active {
    color: #23a455 !important;
}
#connectpx_booking_tbs .form-group h6 {
    color: #23a455 !important;
    font-size: 1.2rem;
    font-family: inherit;
}
#connectpx_booking_tbs .select2-container--bootstrap4 .select2-selection {
    padding: 0px;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce .woocommerce-message a.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce input.button, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover, .woocommerce #respond input#submit, .woocommerce button.button.alt.disabled, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link, .wc-block-grid__product-onsale {
    border-color: #23a455 !important;
    background-color: #23a455 !important;
}
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce .woocommerce-message a.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce input.button:hover, .woocommerce button.button.alt.disabled:hover, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover {
    border-color: #00d177 !important;
    background-color: #00d177 !important;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce .woocommerce-message a.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce input.button, .woocommerce-cart table.cart td.actions .button, .woocommerce form.checkout_coupon .button, .woocommerce #respond input#submit, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}